{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="row align-items-center" >
        {% if post.published_date %}
            <div class="col-9 date">
                publicado em: {{ post.published_date }}
            </div>
        {% else %}
            <div class="col-9">
                <a class="login-btn ui green button" href="{% url 'post_publish' pk=post.pk %}">Publicar</a>
            </div>
        {% endif %}
        {% ifequal user post.author %}
            <div class="col-3"style="text-align: right;">
                <a href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-pen-square fa-1x"></i></a>
                <a href="{% url 'post_remove' pk=post.pk %}"><i class="far fa-trash-alt fa-1x"></i></a>
            </div>
        {% endifequal %}
        </div>
        <h1>{{ post.title }}</a></h1>
        
        <p>{{ post.text|linebreaksbr }}</p>
        
        <h4>Autor: {{ post.author }}</a></h4>
        
        
    </div>
<hr>
<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comentario</a>
{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>Não há comentarios aqui ainda :(</p>
{% endfor %}
{% endblock %}