{% extends 'blog/base.html' %}


{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            
            <a href="{% url 'post_detail' pk=post.pk %}">Comentarios: {{ post.approved_comments.count }}</a>
            <div class="date">
                <p>publicado em: {{ post.published_date }}</p>
            </div>
            
            <p ><a href="{% url 'post_detail' pk=post.pk %}" class="texto_blog">{{ post.text|linebreaksbr|slice:"0:240" }}...</a></p>
        </div>
    {% endfor %}
{% endblock %}